<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Sql" value="server=113.106.88.243,3341;Uid=Dev;Pwd=YniuDevHaha123com;Database=Lifobao_Core"/>
    <!--<add key="Sql" value="server=218.95.37.36,3341;Uid=LfbCore;Pwd=YdnLfb@sdfvbkqweov123aa58;Database=Lifobao_Core" />
    <add key="Sql3" value="server=218.95.37.36,3341;Uid=LfbCore;Pwd=YdnLfb@sdfvbkqweov123aa58;Database=Lifobao_Core" />-->
    <!--<add key="Sql" value="server=113.106.88.246,1433;Uid=LfbCore;Pwd=YdnLfb@sdfvbkqweov123aa58;Database=Lifobao_Core" />-->
    <add key="TcpPort" value="9009"/>
    <add key="IsDebugLog" value="true"/>
    <add key="IsInfoLog" value="true"/>
    <add key="IsOpenSession" value="true"/>

    <!-- 图片本地保存路径前缀部分 -->
    <add key="ImgSavePrex" value="D:\Deploy\WebSites\LfbResx"/>
    <!-- 图片本地保存路径后半部分 -->
    <add key="ImgSaveSuffix" value="\Media\News\"/>
    <!-- 是否开启抓取 1=抓取 0=no -->
    <add key="IsEnableGather" value="1"/>
    <!-- 是否开启图片转存 1=处理 0=no -->
    <add key="IsEnableImgDeal" value="0"/>
    <!-- 页面抓取深度，即翻多少页 -->
    <add key="PageDepth" value="50"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
</configuration>
